In [1]:
import csv
import json
import pandas as pd

In [8]:
df = pd.read_csv("Resources/TNHealthPlans.csv", index_col=0)

In [9]:
df

,Company,Plan Category,Plan ID,Premium,Individual Deductible,Individual Deductible Type,Family Deductible,Family Deductible Type,Individual OOP Max,Family OOP Maximum,Adult Dental,Child Dental,HSA Eligible
Plan Type,,,,,,,,,,,,,
EPO,BCBS,Bronze,14002TN0400239,304.61,9100,Combined,18200,Combined,9100,18200,No,Yes,No
EPO,BCBS,Bronze,14002TN0400058,307.70,8700,Combined,17400,Combined,8700,17400,No,Yes,No
EPO,BCBS,Bronze,14002TN0400089,313.08,8000,Combined,16000,Combined,9100,18200,No,Yes,No
EPO,BCBS,Bronze,14002TN0400253,334.36,7500,Combined,15000,Combined,9000,18000,No,Yes,No
EPO,BCBS,Bronze,14002TN0400066,336.85,6600,Combined,13200,Combined,8150,16300,No,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
EPO,Ambetter,Gold,70111TN0110006,415.23,1450,Combined,2900,Combined,7500,15000,No,No,No
EPO,Ambetter,Silver,70111TN0120004,416.80,0,No Deductible,0,No Deductible,3000,6000,Yes,No,No
EPO,Ambetter,Gold,70111TN0120006,431.20,1450,Combined,2900,Combined,7500,15000,Yes,No,No
EPO,Ambetter,Gold,70111TN0110031,457.06,0,No Deductible,0,No Deductible,5000,10000,No,No,No
EPO,Ambetter,Gold,70111TN0120034,474.65,0,No Deductible,0,No Deductible,5000,10000,Yes,No,No

In [11]:
df.to_json("static/js/data.js", orient="records", lines=True)